In [3]:
import pandas as pd
df=pd.read_excel("E:/Important/Project/py/pandas/3_different_ways_of_creating_dataframe/weather_data.xlsx")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [4]:
print(df)

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [5]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [6]:
df[2:3]

         day  temperature  windspeed event
2 2017-01-03           28          2  Snow

In [7]:
df[df['temperature']==35]

         day  temperature  windspeed  event
1 2017-01-02           35          7  Sunny

In [8]:
df1=df[df['temperature']==35]
df1

         day  temperature  windspeed  event
1 2017-01-02           35          7  Sunny

In [9]:
df1

         day  temperature  windspeed  event
1 2017-01-02           35          7  Sunny

In [30]:
value='Sourav kumar Dutta'.lower()
name=[y.split(" ")]
flag=0
x='sourav01@gmail.com'
for k in range (len(name)):
    temp=name[k]
    print (temp)

['Sourav', 'Dutta']