In [1]:
import pandas as pd
df=pd.read_csv("employee_data.csv")

print(df)

      id groups  age  healthy_eating  active_lifestyle  salary
0      0      A   36               5                 5    2297
1      1      A   55               3                 5    1134
2      2      A   61               8                 1    4969
3      3      O   29               3                 6     902
4      4      O   34               6                 2    3574
5      5      O   42               5                 3    2761
6      6     AB   53               4                 6    1484
7      7      B   41               8                 6    3809
8      8      A   47               5                 6    2065
9      9      A   31               4                 8    1020
10    10      A   47               6                 9    1950
11    11      O   40               7                 1    4387
12    12      O   41               3                 2    1830
13    13      O   46               6                 8    2182
14    14     AB   51               7                 5    3460
15    15      B   57               3                 8     662
16    16      A   33               3                 5    1134
17    17      A   41               4                 8    1020
18    18      A   46               2                 6     779
19    19      O   32               7                 6    3228
20    20      O   57               7                 6    3228
21    21      O   26               1                 6    1360
22    22     AB   59               7                 5    3460
23    23      B   55               6                 4    3110
24    24      A   51               5                 8    1601
25    25      A   63               6                 7    2414
26    26      A   62               9                 6    4390
27    27      O   37               3                 5    1134
28    28      O   63               6                 7    2414
29    29      O   20               8                 6    3809
..   ...    ...  ...             ...               ...     ...
970  970      A   36               4                 8    1020
971  971      O   33               2                 8    1243
972  972      O   56               6                 3    3342
973  973      O   47               3                 6     902
974  974     AB   64              10                 5    5204
975  975      B   43               4                 6    1484
976  976      A   20               6                 4    3110
977  977      A   59               2                 6     779
978  978      A   61               3                 6     902
979  979      O   18               7                 8    2764
980  980      O   58               5                 5    2297
981  981      O   31               5                 9    1369
982  982     AB   50               9                 5    4622
983  983      B   29               5                 6    2065
984  984      A   32               3                 9     894
985  985      A   52               4                 3    2179
986  986      A   27               6                 7    2414
987  987      O   50               5                 5    2297
988  988      O   60               4                 6    1484
989  989      O   44               3                 5    1134
990  990     AB   20               3                 4    1366
991  991      B   38               8                 6    3809
992  992      A   30               6                 3    3342
993  993      A   56               5                 5    2297
994  994      A   52               5                 7    1833
995  995      O   33               7                 7    2996
996  996      O   21               1                 2     667
997  997      O   49               9                 7    4158
998  998     AB   56               6                 7    2414
999  999      B   64               4                 9     788

[1000 rows x 6 columns]

In [2]:
df1=df.copy()
del df1['id']
del df1['groups']
del df1['salary']
#don't include salary too: Reason : Kmeans predictions requires all the features
#clustering has been done using all the relevant features except salary.
#Salary feature has been used in the regression
df

      id groups  age  healthy_eating  active_lifestyle  salary
0      0      A   36               5                 5    2297
1      1      A   55               3                 5    1134
2      2      A   61               8                 1    4969
3      3      O   29               3                 6     902
4      4      O   34               6                 2    3574
5      5      O   42               5                 3    2761
6      6     AB   53               4                 6    1484
7      7      B   41               8                 6    3809
8      8      A   47               5                 6    2065
9      9      A   31               4                 8    1020
10    10      A   47               6                 9    1950
11    11      O   40               7                 1    4387
12    12      O   41               3                 2    1830
13    13      O   46               6                 8    2182
14    14     AB   51               7                 5    3460
15    15      B   57               3                 8     662
16    16      A   33               3                 5    1134
17    17      A   41               4                 8    1020
18    18      A   46               2                 6     779
19    19      O   32               7                 6    3228
20    20      O   57               7                 6    3228
21    21      O   26               1                 6    1360
22    22     AB   59               7                 5    3460
23    23      B   55               6                 4    3110
24    24      A   51               5                 8    1601
25    25      A   63               6                 7    2414
26    26      A   62               9                 6    4390
27    27      O   37               3                 5    1134
28    28      O   63               6                 7    2414
29    29      O   20               8                 6    3809
..   ...    ...  ...             ...               ...     ...
970  970      A   36               4                 8    1020
971  971      O   33               2                 8    1243
972  972      O   56               6                 3    3342
973  973      O   47               3                 6     902
974  974     AB   64              10                 5    5204
975  975      B   43               4                 6    1484
976  976      A   20               6                 4    3110
977  977      A   59               2                 6     779
978  978      A   61               3                 6     902
979  979      O   18               7                 8    2764
980  980      O   58               5                 5    2297
981  981      O   31               5                 9    1369
982  982     AB   50               9                 5    4622
983  983      B   29               5                 6    2065
984  984      A   32               3                 9     894
985  985      A   52               4                 3    2179
986  986      A   27               6                 7    2414
987  987      O   50               5                 5    2297
988  988      O   60               4                 6    1484
989  989      O   44               3                 5    1134
990  990     AB   20               3                 4    1366
991  991      B   38               8                 6    3809
992  992      A   30               6                 3    3342
993  993      A   56               5                 5    2297
994  994      A   52               5                 7    1833
995  995      O   33               7                 7    2996
996  996      O   21               1                 2     667
997  997      O   49               9                 7    4158
998  998     AB   56               6                 7    2414
999  999      B   64               4                 9     788

[1000 rows x 6 columns]

In [3]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=5)
kmeans.fit(df1[0:900])
labels=kmeans.predict(df1[900:1000])

labels1=kmeans.predict(df1[0:900])

[4 0 1 1 2 4 4 1 3 1 3 2 3 2 3 4 3 4 3 3 2 4 3 1 2 2 1 2 4 3 2 4 3 2 3 0 0
 3 3 0 3 0 4 0 4 2 3 3 1 0 4 2 1 3 2 1 3 4 0 1 2 4 4 0 2 4 1 2 4 4 1 1 2 0
 2 4 3 2 2 3 2 1 0 1 1 0 1 0 2 4 3 4 1 2 0 1 3 0 2 2]
[1 0 2 1 1 4 0 4 0 1 0 4 4 4 0 2 1 4 4 1 2 3 2 0 0 2 2 4 2 3 2 0 2 3 1 2 0
 3 1 2 0 0 0 4 4 4 3 4 4 0 1 1 1 3 2 4 2 0 3 4 2 2 3 4 4 4 1 4 3 1 2 1 3 0
 1 3 2 3 2 0 1 3 2 0 4 2 0 1 2 2 0 3 1 1 0 4 1 1 2 3 4 2 4 1 2 0 2 0 3 0 1
 4 4 4 0 0 3 1 3 0 4 1 1 1 2 4 2 4 3 2 3 2 2 4 3 3 4 0 4 1 4 3 4 2 1 1 4 4
 4 4 0 2 0 0 0 1 3 0 4 1 1 0 1 3 1 1 2 4 0 2 2 0 1 2 3 4 3 1 4 0 1 1 0 2 1
 4 3 3 0 1 1 4 4 1 1 2 3 0 1 0 3 4 4 1 0 1 3 2 3 4 4 3 3 0 3 2 3 0 4 4 0 2
 3 1 4 0 3 3 0 4 2 0 1 0 2 3 0 0 4 0 2 4 0 1 2 2 2 1 2 2 2 1 3 1 3 3 2 1 4
 0 2 4 2 3 3 3 4 2 2 1 0 2 3 4 1 2 0 4 2 0 0 0 0 1 3 4 2 3 3 1 4 3 4 4 4 0
 0 4 1 4 3 3 4 4 0 4 1 4 0 3 4 2 4 3 3 1 3 2 2 3 4 0 2 1 3 0 1 2 2 2 2 3 2
 4 0 2 1 4 0 1 2 1 4 0 3 2 2 1 3 0 1 0 2 4 0 1 1 4 2 1 1 2 4 3 4 4 0 2 2 0
 3 1 2 0 3 0 2 0 4 1 1 0 2 4 1 1 3 0 3 4 0 2 2 2 4 0 3 2 4 2 0 3 1 3 1 4 1
 3 3 3 1 4 4 4 1 0 1 2 3 2 0 1 2 0 2 1 4 1 1 0 3 3 0 3 1 4 3 0 2 2 4 3 2 2
 4 2 1 0 2 0 1 2 3 0 1 1 3 2 0 1 2 3 1 4 3 3 0 1 1 0 2 4 3 2 4 3 0 3 2 0 3
 0 3 4 1 3 1 2 1 1 3 0 4 2 2 1 0 0 1 2 4 4 3 1 4 0 0 4 2 1 3 3 0 4 1 3 1 1
 4 3 2 4 0 4 0 1 4 4 2 3 3 1 1 3 2 3 0 0 0 2 0 0 4 1 0 1 3 3 4 2 0 4 3 1 3
 0 1 1 4 3 2 1 3 1 4 4 4 4 0 4 0 1 1 3 3 3 1 1 3 0 0 0 0 1 4 1 3 0 3 1 4 2
 0 3 2 4 0 0 2 0 3 3 1 3 1 1 0 4 1 2 4 4 0 4 2 0 4 3 2 1 1 1 0 4 1 4 2 0 1
 4 2 4 1 1 1 1 4 0 2 3 0 4 4 4 4 1 4 4 4 2 2 1 2 0 3 0 4 3 3 1 0 4 2 0 0 0
 2 3 1 2 4 4 0 0 4 0 1 0 0 0 4 1 1 3 3 2 1 1 3 4 4 2 1 2 1 4 2 1 0 4 1 2 1
 2 2 3 2 3 3 4 2 3 1 3 0 4 0 2 1 0 0 2 1 1 1 2 3 0 0 4 0 0 1 1 1 4 1 3 3 1
 3 4 1 0 2 1 4 1 0 2 1 1 0 4 3 4 0 1 4 4 2 3 3 0 0 0 2 3 0 4 3 4 1 1 2 0 1
 3 3 2 1 4 3 1 2 1 3 4 0 4 2 3 4 4 4 4 3 0 4 2 1 2 4 0 0 1 2 3 4 4 0 1 0 2
 1 1 2 1 4 2 2 4 2 1 1 0 1 1 1 0 2 4 0 0 2 4 4 4 2 1 1 1 2 4 3 4 1 1 2 2 4
 1 4 0 3 1 3 4 4 4 1 1 2 0 3 0 2 0 0 4 4 3 3 3 1 0 4 1 1 1 1 4 1 0 1 1 1 3
 4 3 4 0 3 0 2 1 1 2 0 4]

In [4]:
df2=pd.DataFrame()
df2['Labels']=labels
df2

    Labels
0        4
1        0
2        1
3        1
4        2
5        4
6        4
7        1
8        3
9        1
10       3
11       2
12       3
13       2
14       3
15       4
16       3
17       4
18       3
19       3
20       2
21       4
22       3
23       1
24       2
25       2
26       1
27       2
28       4
29       3
..     ...
70       1
71       1
72       2
73       0
74       2
75       4
76       3
77       2
78       2
79       3
80       2
81       1
82       0
83       1
84       1
85       0
86       1
87       0
88       2
89       4
90       3
91       4
92       1
93       2
94       0
95       1
96       3
97       0
98       2
99       2

[100 rows x 1 columns]

In [5]:
#df3=pd.DataFrame(df[900:1000])
#del df3['salary']
#l=[]
#for i in range(100):
 #   l.append(0)
#df3['salary']=l
#df3

In [6]:
#labels1=kmeans.predict(df3)
#df4=pd.DataFrame()
#df4['labels']=labels1
#df4

In [7]:
train_df=df[0:900].copy()
train_df['Labels']=labels1
train_df

      id groups  age  healthy_eating  active_lifestyle  salary  Labels
0      0      A   36               5                 5    2297       1
1      1      A   55               3                 5    1134       0
2      2      A   61               8                 1    4969       2
3      3      O   29               3                 6     902       1
4      4      O   34               6                 2    3574       1
5      5      O   42               5                 3    2761       4
6      6     AB   53               4                 6    1484       0
7      7      B   41               8                 6    3809       4
8      8      A   47               5                 6    2065       0
9      9      A   31               4                 8    1020       1
10    10      A   47               6                 9    1950       0
11    11      O   40               7                 1    4387       4
12    12      O   41               3                 2    1830       4
13    13      O   46               6                 8    2182       4
14    14     AB   51               7                 5    3460       0
15    15      B   57               3                 8     662       2
16    16      A   33               3                 5    1134       1
17    17      A   41               4                 8    1020       4
18    18      A   46               2                 6     779       4
19    19      O   32               7                 6    3228       1
20    20      O   57               7                 6    3228       2
21    21      O   26               1                 6    1360       3
22    22     AB   59               7                 5    3460       2
23    23      B   55               6                 4    3110       0
24    24      A   51               5                 8    1601       0
25    25      A   63               6                 7    2414       2
26    26      A   62               9                 6    4390       2
27    27      O   37               3                 5    1134       4
28    28      O   63               6                 7    2414       2
29    29      O   20               8                 6    3809       3
..   ...    ...  ...             ...               ...     ...     ...
870  870     AB   40               4                 4    1948       4
871  871      B   21               5                 3    2761       3
872  872      A   19               4                 4    1948       3
873  873      A   18               0                 3    1246       3
874  874      A   36               2                 2    1249       1
875  875      O   48               2                 6     779       0
876  876      O   42               6                 2    3574       4
877  877      O   30               3                 8     662       1
878  878     AB   32               1                 7    1592       1
879  879      B   30               6                 2    3574       1
880  880      A   30              10                 4    5435       1
881  881      A   44               6                 5    2878       4
882  882      A   30               2                 4     785       1
883  883      O   47               8                 8    3345       0
884  884      O   28               4                 6    1484       1
885  885      O   33               7                 6    3228       1
886  886     AB   34               7                 5    3460       1
887  887      B   26               2                 8    1243       3
888  888      A   39               3                 8     662       4
889  889      A   25               6                 6    2646       3
890  890      A   44               6                 9    1950       4
891  891      O   55               4                 6    1484       0
892  892      O   18               1                 6    1360       3
893  893      O   49               6                 7    2414       0
894  894     AB   57               4                 5    1716       2
895  895      B   30               9                 5    4622       1
896  896      A   33               5                 3    2761       1
897  897      A   59               5                 4    2529       2
898  898      A   48               1                 9    2056       0
899  899      O   42               7                 9    2532       4

[900 rows x 7 columns]

In [8]:
test_df=df[900:1000].copy()
test_df['Labels']=labels
test_df

      id groups  age  healthy_eating  active_lifestyle  salary  Labels
900  900      O   39               6                 6    2646       4
901  901      O   50               7                 3    3923       0
902  902     AB   31               2                 3    1017       1
903  903      B   28               8                 7    3577       1
904  904      A   56               6                 5    2878       2
905  905      A   46               8                 7    3577       4
906  906      A   38               3                 4    1366       4
907  907      O   35               4                 7    1252       1
908  908      O   25               2                 5     553       3
909  909      O   35               3                 6     902       1
910  910     AB   21               2                 5     553       3
911  911      B   59               6                 6    2646       2
912  912      A   24               5                 3    2761       3
913  913      A   64               6                 5    2878       2
914  914      A   19               5                 1    3225       3
915  915      O   45               9                 6    4390       4
916  916      O   19               4                 6    1484       3
917  917      O   38               4                 7    1252       4
918  918     AB   25               9                 6    4390       3
919  919      B   26               4                 6    1484       3
920  920      A   64               5                 4    2529       2
921  921      A   43               3                 7     670       4
922  922      A   22               4                 4    1948       3
923  923      O   32               7                 6    3228       1
924  924      O   57               3                 8     662       2
925  925      O   57               2                 7    1011       2
926  926     AB   34               4                 3    2179       1
927  927      B   56               2                 5     553       2
928  928      A   44               6                 6    2646       4
929  929      A   26               7                 8    2764       3
..   ...    ...  ...             ...               ...     ...     ...
970  970      A   36               4                 8    1020       1
971  971      O   33               2                 8    1243       1
972  972      O   56               6                 3    3342       2
973  973      O   47               3                 6     902       0
974  974     AB   64              10                 5    5204       2
975  975      B   43               4                 6    1484       4
976  976      A   20               6                 4    3110       3
977  977      A   59               2                 6     779       2
978  978      A   61               3                 6     902       2
979  979      O   18               7                 8    2764       3
980  980      O   58               5                 5    2297       2
981  981      O   31               5                 9    1369       1
982  982     AB   50               9                 5    4622       0
983  983      B   29               5                 6    2065       1
984  984      A   32               3                 9     894       1
985  985      A   52               4                 3    2179       0
986  986      A   27               6                 7    2414       1
987  987      O   50               5                 5    2297       0
988  988      O   60               4                 6    1484       2
989  989      O   44               3                 5    1134       4
990  990     AB   20               3                 4    1366       3
991  991      B   38               8                 6    3809       4
992  992      A   30               6                 3    3342       1
993  993      A   56               5                 5    2297       2
994  994      A   52               5                 7    1833       0
995  995      O   33               7                 7    2996       1
996  996      O   21               1                 2     667       3
997  997      O   49               9                 7    4158       0
998  998     AB   56               6                 7    2414       2
999  999      B   64               4                 9     788       2

[100 rows x 7 columns]

In [15]:
sal_list=[]

sal=[]
from sklearn import linear_model
reg=linear_model.LinearRegression()

for i in range(0,100):
    j=train_df.iloc[i,6]    
    cluster=train_df[train_df.Labels==j]
    reg.fit(cluster[['age','healthy_eating']],cluster.salary)
    sal_list = reg.predict(test_df[i:i+1][['age','healthy_eating']])
    
    sal.append(sal_list[0])
    
sal

[2604.206284323087,
 2995.2503973694297,
 1646.030763391087,
 3835.164668737097,
 2244.1841198516477,
 3443.1590666252105,
 951.7306293008082,
 2039.4633186334227,
 99.7333991598739,
 1191.9130825058655,
 -36.713516089637324,
 2213.1806793713426,
 2782.9166911609445,
 2070.4427028151335,
 1120.697293025672,
 4480.874815416966,
 2029.758905709936,
 1953.8205326996972,
 4472.088392265151,
 1881.5144850452257,
 2033.3689282427158,
 1926.6680179480945,
 2854.4578736392805,
 2381.239278746628,
 1599.8534767359874,
 849.087429766631,
 2486.6378735049166,
 581.1041688896203,
 3112.6833168736994,
 3381.1931812355065,
 1750.9978732361876,
 2211.4766248532515,
 3695.06498375311,
 4104.161436192817,
 3919.8757662597886,
 2990.0766501622447,
 1735.504401816986,
 3359.2850522974063,
 883.5116188186172,
 2806.166650095063,
 1699.8006926675835,
 3131.697312618941,
 2279.700082478007,
 1067.629183615966,
 866.5801220020385,
 1869.393641201206,
 922.2239556868071,
 4872.970621057771,
 3012.513348086114,
 1940.1747746912538,
 1479.1367718124409,
 2679.6522298229334,
 1669.736741238497,
 4598.058795095141,
 3554.8187601753007,
 2583.083523982252,
 3756.3683171088373,
 1802.9318692732295,
 1732.824726396519,
 3069.6085387085977,
 849.087429766631,
 1897.7501517197513,
 3819.3557599975134,
 1497.0590077198278,
 1726.6556646449967,
 3099.372028455074,
 3750.4535712144057,
 1268.678245229893,
 2295.7763410044727,
 1479.1367718124409,
 2425.334540149189,
 735.267198153907,
 3581.696210569737,
 1258.736188612209,
 4070.767657259482,
 2383.408856756874,
 3848.3233171424286,
 1820.4572421489202,
 1192.7618181288863,
 1903.6750753733377,
 1702.8271379769976,
 2577.2521483084493,
 4327.616482027648,
 1461.814581149451,
 1695.6762804632863,
 1934.9078733033698,
 1802.1358791047173,
 1872.2493330223808,
 1689.6945398804603,
 1713.8401516525691,
 337.7195106780066,
 4100.8315673014895,
 2794.806253749143,
 1745.1826867383434,
 2246.3843438341414,
 3384.8479815674928,
 490.3990576086773,
 3889.432839856271,
 2744.8633167393355,
 2843.479564456981]

In [12]:
test_df['pred_salary']=sal
test_df

,id,groups,age,healthy_eating,active_lifestyle,salary,Labels,pred_salary
900,900,O,39,6,6,2646,4,2604.206284
901,901,O,50,7,3,3923,0,2995.250397
902,902,AB,31,2,3,1017,1,1646.030763
903,903,B,28,8,7,3577,1,3835.164669
904,904,A,56,6,5,2878,2,2244.184120
905,905,A,46,8,7,3577,4,3443.159067
906,906,A,38,3,4,1366,4,951.730629
907,907,O,35,4,7,1252,1,2039.463319
908,908,O,25,2,5,553,3,99.733399
909,909,O,35,3,6,902,1,1191.913083
910,910,AB,21,2,5,553,3,-36.713516
911,911,B,59,6,6,2646,2,2213.180679
912,912,A,24,5,3,2761,3,2782.916691
913,913,A,64,6,5,2878,2,2070.442703
914,914,A,19,5,1,3225,3,1120.697293
915,915,O,45,9,6,4390,4,4480.874815
916,916,O,19,4,6,1484,3,2029.758906
917,917,O,38,4,7,1252,4,1953.820533
918,918,AB,25,9,6,4390,3,4472.088392
919,919,B,26,4,6,1484,3,1881.514485
920,920,A,64,5,4,2529,2,2033.368928
921,921,A,43,3,7,670,4,1926.668018
922,922,A,22,4,4,1948,3,2854.457874
923,923,O,32,7,6,3228,1,2381.239279
924,924,O,57,3,8,662,2,1599.853477
925,925,O,57,2,7,1011,2,849.087430
926,926,AB,34,4,3,2179,1,2486.637874
927,927,B,56,2,5,553,2,581.104169
928,928,A,44,6,6,2646,4,3112.683317
929,929,A,26,7,8,2764,3,3381.193181
...,...,...,...,...,...,...,...,...
970,970,A,36,4,8,1020,1,2425.334540
971,971,O,33,2,8,1243,1,735.267198
972,972,O,56,6,3,3342,2,3581.696211
973,973,O,47,3,6,902,0,1258.736189
974,974,AB,64,10,5,5204,2,4070.767657
975,975,B,43,4,6,1484,4,2383.408857
976,976,A,20,6,4,3110,3,3848.323317
977,977,A,59,2,6,779,2,1820.457242
978,978,A,61,3,6,902,2,1192.761818
979,979,O,18,7,8,2764,3,1903.675075
980,980,O,58,5,5,2297,2,1702.827138
981,981,O,31,5,9,1369,1,2577.252148
982,982,AB,50,9,5,4622,0,4327.616482
983,983,B,29,5,6,2065,1,1461.814581
984,984,A,32,3,9,894,1,1695.676280
985,985,A,52,4,3,2179,0,1934.907873
986,986,A,27,6,7,2414,1,1802.135879
987,987,O,50,5,5,2297,0,1872.249333
988,988,O,60,4,6,1484,2,1689.694540
989,989,O,44,3,5,1134,4,1713.840152
990,990,AB,20,3,4,1366,3,337.719511
991,991,B,38,8,6,3809,4,4100.831567
992,992,A,30,6,3,3342,1,2794.806254
993,993,A,56,5,5,2297,2,1745.182687
994,994,A,52,5,7,1833,0,2246.384344
995,995,O,33,7,7,2996,1,3384.847982
996,996,O,21,1,2,667,3,490.399058
997,997,O,49,9,7,4158,0,3889.432840
998,998,AB,56,6,7,2414,2,2744.863317
999,999,B,64,4,9,788,2,2843.479564