In [1]:
import pandas as pd
df=pd.read_csv("employee_data.csv")

print(df)

      id groups  age  healthy_eating  active_lifestyle  salary
0      0      A   36               5                 5    2297
1      1      A   55               3                 5    1134
2      2      A   61               8                 1    4969
3      3      O   29               3                 6     902
4      4      O   34               6                 2    3574
5      5      O   42               5                 3    2761
6      6     AB   53               4                 6    1484
7      7      B   41               8                 6    3809
8      8      A   47               5                 6    2065
9      9      A   31               4                 8    1020
10    10      A   47               6                 9    1950
11    11      O   40               7                 1    4387
12    12      O   41               3                 2    1830
13    13      O   46               6                 8    2182
14    14     AB   51               7                 5    3460
15    15      B   57               3                 8     662
16    16      A   33               3                 5    1134
17    17      A   41               4                 8    1020
18    18      A   46               2                 6     779
19    19      O   32               7                 6    3228
20    20      O   57               7                 6    3228
21    21      O   26               1                 6    1360
22    22     AB   59               7                 5    3460
23    23      B   55               6                 4    3110
24    24      A   51               5                 8    1601
25    25      A   63               6                 7    2414
26    26      A   62               9                 6    4390
27    27      O   37               3                 5    1134
28    28      O   63               6                 7    2414
29    29      O   20               8                 6    3809
..   ...    ...  ...             ...               ...     ...
970  970      A   36               4                 8    1020
971  971      O   33               2                 8    1243
972  972      O   56               6                 3    3342
973  973      O   47               3                 6     902
974  974     AB   64              10                 5    5204
975  975      B   43               4                 6    1484
976  976      A   20               6                 4    3110
977  977      A   59               2                 6     779
978  978      A   61               3                 6     902
979  979      O   18               7                 8    2764
980  980      O   58               5                 5    2297
981  981      O   31               5                 9    1369
982  982     AB   50               9                 5    4622
983  983      B   29               5                 6    2065
984  984      A   32               3                 9     894
985  985      A   52               4                 3    2179
986  986      A   27               6                 7    2414
987  987      O   50               5                 5    2297
988  988      O   60               4                 6    1484
989  989      O   44               3                 5    1134
990  990     AB   20               3                 4    1366
991  991      B   38               8                 6    3809
992  992      A   30               6                 3    3342
993  993      A   56               5                 5    2297
994  994      A   52               5                 7    1833
995  995      O   33               7                 7    2996
996  996      O   21               1                 2     667
997  997      O   49               9                 7    4158
998  998     AB   56               6                 7    2414
999  999      B   64               4                 9     788

[1000 rows x 6 columns]

In [2]:
df1=df[0:1000].copy()
del df1['id']
del df1['groups']
del df1['salary']
#don't include salary too: Reason : Kmeans predictions requires all the features
#clustering has been done using all the relevant features except salary.
#Salary feature has been used in the regression
df1

     age  healthy_eating  active_lifestyle
0     36               5                 5
1     55               3                 5
2     61               8                 1
3     29               3                 6
4     34               6                 2
5     42               5                 3
6     53               4                 6
7     41               8                 6
8     47               5                 6
9     31               4                 8
10    47               6                 9
11    40               7                 1
12    41               3                 2
13    46               6                 8
14    51               7                 5
15    57               3                 8
16    33               3                 5
17    41               4                 8
18    46               2                 6
19    32               7                 6
20    57               7                 6
21    26               1                 6
22    59               7                 5
23    55               6                 4
24    51               5                 8
25    63               6                 7
26    62               9                 6
27    37               3                 5
28    63               6                 7
29    20               8                 6
..   ...             ...               ...
970   36               4                 8
971   33               2                 8
972   56               6                 3
973   47               3                 6
974   64              10                 5
975   43               4                 6
976   20               6                 4
977   59               2                 6
978   61               3                 6
979   18               7                 8
980   58               5                 5
981   31               5                 9
982   50               9                 5
983   29               5                 6
984   32               3                 9
985   52               4                 3
986   27               6                 7
987   50               5                 5
988   60               4                 6
989   44               3                 5
990   20               3                 4
991   38               8                 6
992   30               6                 3
993   56               5                 5
994   52               5                 7
995   33               7                 7
996   21               1                 2
997   49               9                 7
998   56               6                 7
999   64               4                 9

[1000 rows x 3 columns]

In [3]:
from sklearn.cluster import KMeans
di=0.0
di1=0.0

for i in range(2,11):
    kmeans = KMeans(n_clusters=i)
    kmeans.fit(df1)
    labels=kmeans.predict(df1)
    labels=list(labels)
    centroids=kmeans.cluster_centers_
    #print(centroids)
    min_=centroids[1]-centroids[0]
    min_squared=min_[0]**2+min_[1]**2+min_[2]**2
    min_squared=min_squared**.5
    #print(min_squared)
    #dunn's Index
    for j in range(len(centroids)):
        for k in range(j+1,len(centroids)):
            dist=centroids[k]-centroids[j]
            dist_squared=dist[0]**2+dist[1]**2+dist[2]**2
            dist_squared=dist_squared**.5
            #print(dist_squared)
            if(dist_squared<min_squared):
                min_squared=dist_squared
    print(i)
    sum_=[]
    for j in range(len(centroids)):
        sum_.append(0)
    for j in range(len(labels)):
        for k in range(j+1,len(labels)):
            if(labels[j]==labels[k]):
                dist1=(df1.iloc[j]['age']-df1.iloc[j]['age'])**2+(df1.iloc[j]['healthy_eating']-df.iloc[k]['healthy_eating'])**2+(df1.iloc[j]['active_lifestyle']-df1.iloc[j]['active_lifestyle'])**2
                #print(dist1)
                dist1_squared=dist1**.5
                #print(j," ",k)
                sum_[labels[j]]=sum_[labels[j]]+dist1_squared
    #print("check")               
    for j in range(len(centroids)):
        cn=labels.count(j)
        sum_[j]=(sum_[j])/(cn) # cannot allow (cn-1) as division by zero may occur
            
    #print(type(sum_))  
    #print(sum_)
    di=min_squared/max(sum_)
    print(di)
    #print(i)
    if (di>di1):
        di1=di
        final_n=i
        continue
    else:
        break
print("Optimal Number of Clusters = ",final_n)
   
kmeans = KMeans(n_clusters=final_n)
kmeans.fit(df1[0:900])
labels=kmeans.predict(df1[900:1000])   
labels1=kmeans.predict(df1[0:900])

2
0.04018963056539049
3
0.03870395274586443
Optimal Number of Clusters =  2

In [4]:
df2=pd.DataFrame()
df2['Labels']=labels
df2

    Labels
0        0
1        1
2        0
3        0
4        1
5        1
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       1
14       0
15       1
16       0
17       0
18       0
19       0
20       1
21       1
22       0
23       0
24       1
25       1
26       0
27       1
28       1
29       0
..     ...
70       0
71       0
72       1
73       1
74       1
75       1
76       0
77       1
78       1
79       0
80       1
81       0
82       1
83       0
84       0
85       1
86       0
87       1
88       1
89       1
90       0
91       0
92       0
93       1
94       1
95       0
96       0
97       1
98       1
99       1

[100 rows x 1 columns]

In [5]:
#df3=pd.DataFrame(df[900:1000])
#del df3['salary']
#l=[]
#for i in range(100):
 #   l.append(0)
#df3['salary']=l
#df3

In [6]:
#labels1=kmeans.predict(df3)
#df4=pd.DataFrame()
#df4['labels']=labels1
#df4

In [7]:
train_df=df[0:900].copy()
train_df['Labels']=labels1
train_df

      id groups  age  healthy_eating  active_lifestyle  salary  Labels
0      0      A   36               5                 5    2297       0
1      1      A   55               3                 5    1134       1
2      2      A   61               8                 1    4969       1
3      3      O   29               3                 6     902       0
4      4      O   34               6                 2    3574       0
5      5      O   42               5                 3    2761       1
6      6     AB   53               4                 6    1484       1
7      7      B   41               8                 6    3809       1
8      8      A   47               5                 6    2065       1
9      9      A   31               4                 8    1020       0
10    10      A   47               6                 9    1950       1
11    11      O   40               7                 1    4387       0
12    12      O   41               3                 2    1830       1
13    13      O   46               6                 8    2182       1
14    14     AB   51               7                 5    3460       1
15    15      B   57               3                 8     662       1
16    16      A   33               3                 5    1134       0
17    17      A   41               4                 8    1020       1
18    18      A   46               2                 6     779       1
19    19      O   32               7                 6    3228       0
20    20      O   57               7                 6    3228       1
21    21      O   26               1                 6    1360       0
22    22     AB   59               7                 5    3460       1
23    23      B   55               6                 4    3110       1
24    24      A   51               5                 8    1601       1
25    25      A   63               6                 7    2414       1
26    26      A   62               9                 6    4390       1
27    27      O   37               3                 5    1134       0
28    28      O   63               6                 7    2414       1
29    29      O   20               8                 6    3809       0
..   ...    ...  ...             ...               ...     ...     ...
870  870     AB   40               4                 4    1948       0
871  871      B   21               5                 3    2761       0
872  872      A   19               4                 4    1948       0
873  873      A   18               0                 3    1246       0
874  874      A   36               2                 2    1249       0
875  875      O   48               2                 6     779       1
876  876      O   42               6                 2    3574       1
877  877      O   30               3                 8     662       0
878  878     AB   32               1                 7    1592       0
879  879      B   30               6                 2    3574       0
880  880      A   30              10                 4    5435       0
881  881      A   44               6                 5    2878       1
882  882      A   30               2                 4     785       0
883  883      O   47               8                 8    3345       1
884  884      O   28               4                 6    1484       0
885  885      O   33               7                 6    3228       0
886  886     AB   34               7                 5    3460       0
887  887      B   26               2                 8    1243       0
888  888      A   39               3                 8     662       0
889  889      A   25               6                 6    2646       0
890  890      A   44               6                 9    1950       1
891  891      O   55               4                 6    1484       1
892  892      O   18               1                 6    1360       0
893  893      O   49               6                 7    2414       1
894  894     AB   57               4                 5    1716       1
895  895      B   30               9                 5    4622       0
896  896      A   33               5                 3    2761       0
897  897      A   59               5                 4    2529       1
898  898      A   48               1                 9    2056       1
899  899      O   42               7                 9    2532       1

[900 rows x 7 columns]

In [8]:
test_df=df[900:1000].copy()
test_df['Labels']=labels
test_df

      id groups  age  healthy_eating  active_lifestyle  salary  Labels
900  900      O   39               6                 6    2646       0
901  901      O   50               7                 3    3923       1
902  902     AB   31               2                 3    1017       0
903  903      B   28               8                 7    3577       0
904  904      A   56               6                 5    2878       1
905  905      A   46               8                 7    3577       1
906  906      A   38               3                 4    1366       0
907  907      O   35               4                 7    1252       0
908  908      O   25               2                 5     553       0
909  909      O   35               3                 6     902       0
910  910     AB   21               2                 5     553       0
911  911      B   59               6                 6    2646       1
912  912      A   24               5                 3    2761       0
913  913      A   64               6                 5    2878       1
914  914      A   19               5                 1    3225       0
915  915      O   45               9                 6    4390       1
916  916      O   19               4                 6    1484       0
917  917      O   38               4                 7    1252       0
918  918     AB   25               9                 6    4390       0
919  919      B   26               4                 6    1484       0
920  920      A   64               5                 4    2529       1
921  921      A   43               3                 7     670       1
922  922      A   22               4                 4    1948       0
923  923      O   32               7                 6    3228       0
924  924      O   57               3                 8     662       1
925  925      O   57               2                 7    1011       1
926  926     AB   34               4                 3    2179       0
927  927      B   56               2                 5     553       1
928  928      A   44               6                 6    2646       1
929  929      A   26               7                 8    2764       0
..   ...    ...  ...             ...               ...     ...     ...
970  970      A   36               4                 8    1020       0
971  971      O   33               2                 8    1243       0
972  972      O   56               6                 3    3342       1
973  973      O   47               3                 6     902       1
974  974     AB   64              10                 5    5204       1
975  975      B   43               4                 6    1484       1
976  976      A   20               6                 4    3110       0
977  977      A   59               2                 6     779       1
978  978      A   61               3                 6     902       1
979  979      O   18               7                 8    2764       0
980  980      O   58               5                 5    2297       1
981  981      O   31               5                 9    1369       0
982  982     AB   50               9                 5    4622       1
983  983      B   29               5                 6    2065       0
984  984      A   32               3                 9     894       0
985  985      A   52               4                 3    2179       1
986  986      A   27               6                 7    2414       0
987  987      O   50               5                 5    2297       1
988  988      O   60               4                 6    1484       1
989  989      O   44               3                 5    1134       1
990  990     AB   20               3                 4    1366       0
991  991      B   38               8                 6    3809       0
992  992      A   30               6                 3    3342       0
993  993      A   56               5                 5    2297       1
994  994      A   52               5                 7    1833       1
995  995      O   33               7                 7    2996       0
996  996      O   21               1                 2     667       0
997  997      O   49               9                 7    4158       1
998  998     AB   56               6                 7    2414       1
999  999      B   64               4                 9     788       1

[100 rows x 7 columns]

In [11]:
sal_list=[]

sal=[]
from sklearn import linear_model
reg=linear_model.LinearRegression()

for i in range(0,100):
    j=test_df.iloc[i,6]    
    cluster=train_df[train_df.Labels==j]
    reg.fit(cluster[['age','healthy_eating','active_lifestyle']],cluster.salary)
    sal_list = reg.predict(test_df[i:i+1][['age','healthy_eating','active_lifestyle']])
    
    sal.append(sal_list[0])
    
sal

[2700.8098170324947,
 3636.9170830835747,
 1345.6402914988687,
 3433.768687880143,
 2797.9565712022086,
 3368.437519326342,
 1650.3995548350877,
 1555.9725936584105,
 956.6077693968039,
 1268.982309541147,
 946.4540669859721,
 2599.508205081791,
 2749.545117360429,
 2756.331510660254,
 3110.654957832706,
 3998.5433999518027,
 1702.2587682579917,
 1563.5878704665342,
 4086.9456636750992,
 1720.0277474769473,
 2497.1066994369085,
 1173.728018826921,
 2083.6760135519326,
 3156.932106173711,
 918.0451944613167,
 658.820383237971,
 2301.0381050273363,
 1029.701452640085,
 2677.5551935979547,
 2767.899584071646,
 1720.5837783684735,
 2887.7108012754034,
 2665.271858594583,
 3407.2499215566913,
 3236.7140012264026,
 2473.903694909792,
 1584.5730030609866,
 3139.163126954755,
 1146.0471792424205,
 2442.684899503327,
 2475.8324487489667,
 3433.2655843954126,
 3241.681496552742,
 933.6545921645495,
 533.2158730659726,
 1990.2148547273077,
 751.9378059349398,
 4937.177326123796,
 2867.4033964537393,
 1736.1931760717061,
 1239.7075964975934,
 2858.7330163051365,
 1932.3129877469355,
 4171.8044099332055,
 3478.432631795108,
 2019.7101596077505,
 3407.798944360801,
 2600.7205171581395,
 669.2266483734595,
 3796.831466462866,
 841.659351655156,
 1837.3005390779963,
 3292.051676520181,
 2289.9132138910054,
 2147.0381603057713,
 2759.1441689718595,
 3817.7243587767916,
 1516.9322796803115,
 1753.0272803121509,
 1605.3855333319634,
 1371.61003501821,
 416.2122214897422,
 3163.634508036578,
 1335.7544569731292,
 4524.586629222377,
 1798.6307668846368,
 3026.38169906686,
 831.2530865196675,
 1262.9106010247099,
 2747.592179249982,
 2345.486526426189,
 1645.9081911219337,
 4155.366705530266,
 2201.534292645243,
 700.6640800042976,
 2300.3194790264934,
 2483.4477255570905,
 2387.1115869681425,
 1710.177513232985,
 1534.2028230935466,
 1604.7078939863445,
 3646.053928150131,
 3238.6669393368484,
 2355.8927915616778,
 2011.0273849982846,
 2972.5695475335106,
 1033.2657513545255,
 3794.8919012636406,
 2432.2786343678385,
 1140.848077710453]

In [12]:
test_df['pred_salary_modified']=sal
test_df

,id,groups,age,healthy_eating,active_lifestyle,salary,Labels,pred_salary_modified
900,900,O,39,6,6,2646,0,2700.809817
901,901,O,50,7,3,3923,1,3636.917083
902,902,AB,31,2,3,1017,0,1345.640291
903,903,B,28,8,7,3577,0,3433.768688
904,904,A,56,6,5,2878,1,2797.956571
905,905,A,46,8,7,3577,1,3368.437519
906,906,A,38,3,4,1366,0,1650.399555
907,907,O,35,4,7,1252,0,1555.972594
908,908,O,25,2,5,553,0,956.607769
909,909,O,35,3,6,902,0,1268.982310
910,910,AB,21,2,5,553,0,946.454067
911,911,B,59,6,6,2646,1,2599.508205
912,912,A,24,5,3,2761,0,2749.545117
913,913,A,64,6,5,2878,1,2756.331511
914,914,A,19,5,1,3225,0,3110.654958
915,915,O,45,9,6,4390,1,3998.543400
916,916,O,19,4,6,1484,0,1702.258768
917,917,O,38,4,7,1252,0,1563.587870
918,918,AB,25,9,6,4390,0,4086.945664
919,919,B,26,4,6,1484,0,1720.027747
920,920,A,64,5,4,2529,1,2497.106699
921,921,A,43,3,7,670,1,1173.728019
922,922,A,22,4,4,1948,0,2083.676014
923,923,O,32,7,6,3228,0,3156.932106
924,924,O,57,3,8,662,1,918.045194
925,925,O,57,2,7,1011,1,658.820383
926,926,AB,34,4,3,2179,0,2301.038105
927,927,B,56,2,5,553,1,1029.701453
928,928,A,44,6,6,2646,1,2677.555194
929,929,A,26,7,8,2764,0,2767.899584
...,...,...,...,...,...,...,...,...
970,970,A,36,4,8,1020,0,1371.610035
971,971,O,33,2,8,1243,0,416.212221
972,972,O,56,6,3,3342,1,3163.634508
973,973,O,47,3,6,902,1,1335.754457
974,974,AB,64,10,5,5204,1,4524.586629
975,975,B,43,4,6,1484,1,1798.630767
976,976,A,20,6,4,3110,0,3026.381699
977,977,A,59,2,6,779,1,831.253087
978,978,A,61,3,6,902,1,1262.910601
979,979,O,18,7,8,2764,0,2747.592179
980,980,O,58,5,5,2297,1,2345.486526
981,981,O,31,5,9,1369,0,1645.908191
982,982,AB,50,9,5,4622,1,4155.366706
983,983,B,29,5,6,2065,0,2201.534293
984,984,A,32,3,9,894,0,700.664080
985,985,A,52,4,3,2179,1,2300.319479
986,986,A,27,6,7,2414,0,2483.447726
987,987,O,50,5,5,2297,1,2387.111587
988,988,O,60,4,6,1484,1,1710.177513
989,989,O,44,3,5,1134,1,1534.202823
990,990,AB,20,3,4,1366,0,1604.707894
991,991,B,38,8,6,3809,0,3646.053928
992,992,A,30,6,3,3342,0,3238.666939
993,993,A,56,5,5,2297,1,2355.892792
994,994,A,52,5,7,1833,1,2011.027385
995,995,O,33,7,7,2996,0,2972.569548
996,996,O,21,1,2,667,0,1033.265751
997,997,O,49,9,7,4158,1,3794.891901
998,998,AB,56,6,7,2414,1,2432.278634
999,999,B,64,4,9,788,1,1140.848078

In [13]:
reg1=linear_model.LinearRegression()
reg.fit(train_df[['age','healthy_eating','active_lifestyle']],train_df.salary)
sal_list1 = reg.predict(test_df[['age','healthy_eating','active_lifestyle']])
test_df['pred_salar_global']  = sal_list1
test_df

,id,groups,age,healthy_eating,active_lifestyle,salary,Labels,pred_salary_modified,pred_salar_global
900,900,O,39,6,6,2646,0,2700.809817,2658.349810
901,901,O,50,7,3,3923,1,3636.917083,3660.687219
902,902,AB,31,2,3,1017,0,1345.640291,1381.570855
903,903,B,28,8,7,3577,0,3433.768688,3398.571783
904,904,A,56,6,5,2878,1,2797.956571,2830.835795
905,905,A,46,8,7,3577,1,3368.437519,3386.630887
906,906,A,38,3,4,1366,0,1650.399555,1651.507804
907,907,O,35,4,7,1252,0,1555.972594,1560.551587
908,908,O,25,2,5,553,0,956.607769,1018.024157
909,909,O,35,3,6,902,0,1268.982310,1285.970956
910,910,AB,21,2,5,553,0,946.454067,1020.677690
911,911,B,59,6,6,2646,1,2599.508205,2645.082147
912,912,A,24,5,3,2761,0,2749.545117,2761.246923
913,913,A,64,6,5,2878,1,2756.331511,2825.528730
914,914,A,19,5,1,3225,0,3110.654958,3132.090835
915,915,O,45,9,6,4390,1,3998.543400,4029.401897
916,916,O,19,4,6,1484,0,1702.258768,1754.929215
917,917,O,38,4,7,1252,0,1563.587870,1558.561437
918,918,AB,25,9,6,4390,0,4086.945664,4042.669559
919,919,B,26,4,6,1484,0,1720.027747,1750.285533
920,920,A,64,5,4,2529,1,2497.106699,2550.948100
921,921,A,43,3,7,670,1,1173.728019,1096.900393
922,922,A,22,4,4,1948,0,2083.676014,2120.466062
923,923,O,32,7,6,3228,0,3156.932106,3121.337620
924,924,O,57,3,8,662,1,918.045194,903.849531
925,925,O,57,2,7,1011,1,658.820383,629.268901
926,926,AB,34,4,3,2179,0,2301.038105,2296.268963
927,927,B,56,2,5,553,1,1029.701453,997.459281
928,928,A,44,6,6,2646,1,2677.555194,2655.032894
929,929,A,26,7,8,2764,0,2767.899584,2757.790922
...,...,...,...,...,...,...,...,...,...
970,970,A,36,4,8,1020,0,1371.610035,1376.124705
971,971,O,33,2,8,1243,0,416.212221,461.426598
972,972,O,56,6,3,3342,1,3163.634508,3198.362791
973,973,O,47,3,6,902,1,1335.754457,1278.010359
974,974,AB,64,10,5,5204,1,4524.586629,4658.905244
975,975,B,43,4,6,1484,1,1798.630767,1739.008020
976,976,A,20,6,4,3110,0,3026.381699,3038.481086
977,977,A,59,2,6,779,1,831.253087,811.705633
978,978,A,61,3,6,902,1,1262.910601,1268.722995
979,979,O,18,7,8,2764,0,2747.592179,2763.097987
980,980,O,58,5,5,2297,1,2345.486526,2371.164900
981,981,O,31,5,9,1369,0,1645.908191,1654.022251
982,982,AB,50,9,5,4622,1,4155.366706,4209.848479
983,983,B,29,5,6,2065,0,2201.534293,2206.639512
984,984,A,32,3,9,894,0,700.664080,736.670611
985,985,A,52,4,3,2179,1,2300.319479,2284.328067
986,986,A,27,6,7,2414,0,2483.447726,2482.546909
987,987,O,50,5,5,2297,1,2387.111587,2376.471965
988,988,O,60,4,6,1484,1,1710.177513,1727.730507
989,989,O,44,3,5,1134,1,1534.202823,1463.764007
990,990,AB,20,3,4,1366,0,1604.707894,1663.448700
991,991,B,38,8,6,3809,0,3646.053928,3575.701450
992,992,A,30,6,3,3342,0,3238.666939,3215.610753
993,993,A,56,5,5,2297,1,2355.892792,2372.491666
994,994,A,52,5,7,1833,1,2011.027385,2007.618202
995,995,O,33,7,7,2996,0,2972.569548,2936.910739
996,996,O,21,1,2,667,0,1033.265751,1113.624056
997,997,O,49,9,7,4158,1,3794.891901,3842.984866
998,998,AB,56,6,7,2414,1,2432.278634,2463.308798
999,999,B,64,4,9,788,1,1140.848078,1173.786480